<footer class="grey darken-1">
	<div class="container light">
		<div class="row grey-text text-lighten-3">
			<div class="col s6">
				<div class="">
					
					<!-- Time buscaJobs_4 -->
				</div>
			</div>	
			<div class="col s6">
				<div class="right">
					© <%= Time.current.year %> SearchJob
				</div>
					
			</div>				
		</div>
	</div>
</footer>
