
<section id="search-index" class="valign-wrapper grey-text text-lighten-3">
	<div class="container">
		<div class= "row">
			<h3 class="light">SearchJob!</h3>
			<!-- <p class="uppercased light">Encontre seu job perfeito...</p> -->
		</div>
		<div class="row">
			<nav class="grey lighten-2">
				<div class="nav-wrapper">
	
					<%= form_tag search_index_path, method: :get do %>
                        <%= text_field_tag :query, params[:query]  %>
                        <%= submit_tag "Search", name: nil, style: "display:none" %>
                    <% end %>
				</div>
			</nav>
		</div>
		<div class="row center">
			<h5 class="light">Encontre as melhores vagas de trabalho para desenvolvedores Ruby on Rails</h5>
		</div>
	</div>
</section>

