body {
	font-family: 'Montserrat', sans-serif;
}
nav {
	a {
		color: #3f51b5!important;
	}
	.container {
		width:90%;
	}
}
.uppercased {
	
	text-transform: uppercase;
}
section#search-index {
	// background-image: url('code.jpg');
	background-size:cover;
	height:	500px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('code.jpg');
    background-position:center top;
    a {
    	color: #eee!important;
    }
}